/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2017, 12:36:28 AM
    Author     : andriyanto
*/

.subsubsub {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-size: 13px;
    color: #666;
}

.subsubsub li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.subsubsub li a {
    text-decoration: none;
}

.subsubsub li a:hover {
    text-decoration: underline;
}

.subsubsub li a.current {
    font-weight: bold;
}

.sortactions .chosen-container,
.filteractions .chosen-container,
.filteractions1 .chosen-container,
.bulkactions .chosen-container {
    font-size: 14px;
}

.sortactions .chosen-container-single .chosen-single,
.filteractions .chosen-container-single .chosen-single,
.filteractions1 .chosen-container-single .chosen-single,
.bulkactions .chosen-container-single .chosen-single {
    border-radius : 0px !important;
    padding-top: 4px !important;
    border-color: #e5e6e7;
}

.sortactions .chosen-container-single .chosen-single {
    border-right: none;
}

.filteractions1 .chosen-container-single .chosen-single {
    border-right: none;
}

.sortactions .btn,
.filteractions .btn,
.filteractions1 .btn,
.bulkactions .btn,
.findactions .btn,
.findactions .form-control {
    border-radius : 0px !important;
    border-color: #e5e6e7;
    box-shadow : none;
    -webkit-box-shadow : none;
}

/*.bulkactions .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 4px !important;
}

.bulkactions .chosen-container-single .chosen-single div b {
    background-position: 0px 4px !important;
}*/

th.column-sort {
    cursor: pointer;
    cursor: hand;
}

.table-responsive .table.table-striped.jambo_table.bulk_action td {
    color: #333;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
	margin-bottom: -10px;
    font-weight: 400;
    cursor: pointer;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}